doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Error 404 Page design BOOTSTRAP
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/stylesheets/style1.css')
  body
    link(href='https://fonts.googleapis.com/css?family=Anton|Passion+One|Ubuntu+Mono', rel='stylesheet', type='text/css')
    // Error Page
    .error
      .container-floud
        .col-xs-12.ground-color.text-center(style='background-color: black;')
          .container-error-404
            .clip
              .shadow
                span.digit.thirdDigit
            .clip
              .shadow
                span.digit.secondDigit
            .clip
              .shadow
                span.digit.firstDigit
            .msg
              | OH!
              span.triangle
          h2.h1 Sorry! Page not found
    // Error Page
    script(src='public/javascripts/main.js')
