extends layout

block content
	h1#lh LeaderBoard
	h3(style="margin-bottom:2%;")  -----X-----
	.container(style="background-color:rgba(0,0,0,0.7);border-radius:10px;width:90%;")
		.table-responsive
			table.table
				thead
					tr#lth
						th(style="text-align:center;") Rank
						th(style="text-align:center;") User
						th(style="text-align:center;") Ratings


				if profiles
					for profile in profiles	
						tbody(style="border-top:2px #ff6432 dotted;")
							tr
								td=profile.cr
								td
									a(href="/users/#{profile.username}")=profile.username
																				
								td=profile.index
	.container#leadcopy
	include footer		

